@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    background: #181c1d;
    /* color: #b8b8b8 !important; */
}

.ant-layout-header {
    background-color: #212526;
}

.ant-menu-item {
    font-size: 16px !important;
    font-family: 'Nunito', sans-serif;
}

.ant-input:placeholder-shown {
    color: white !important;
}

.ant-input::placeholder {
    color: #b8b8b8e5 !important;
}

/* In your global stylesheet */
.gradient-border {
    border-radius: 10px;
    border: 1px solid;
    /* border-image: linear-gradient(to right, #fefed6, #fcac43) 1; */
}

.ant-modal-content {
    background-color: #212526 !important;
    color: #b8b8b8 !important;
}

.ant-modal-close {
    color: #b8b8b8 !important;
    font-size: 30px !important;
}
